p{
color: red;
color: blue;
color: green;
color: brown;
color: yellow;
color: violet;
color: purple;
color:  grey;
color:   aqua;
color:   blueviolet;

color:   peru;

color: magenta;
color: cyan;



color:aliceblue;    
}